[Unit]
Description=Salt Minion daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/salt-minion -d
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
