[Unit]
Description=Salt Master daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/salt-master -d
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
